.correct {
  color:red;
}
.return:before {
  content: '\23CE';
  color:red;
  padding: 0 .1em;
  font-weight: bold;
}
.active{
  color: white;
  background-color: #ffc40d;
  outline: 1px solid #f3b700;
}
pre span {
  padding: .1em 0;
}
